#chat_wrapper {
    height: 100%;
    background: #bebebe;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 70px;
}

#contacts {
    width: 100%;
    height: 100%;
    background: #4CAF50;
    grid-area: 1 / 1 / 2 / 2;
}

#chat {
    grid-area: 1 / 2 / 2 / 3;
    background: #f2f2f2;
    padding: 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    height: calc(100vh - 140px);
    box-sizing: border-box;
}

#message_field {
    grid-area: 2 / 1 / 3 / 3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input[type=text], select {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none !important;
}

#send_message {
    width: 100px;
    height: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.msg {
    border: 2px solid #d3d3d3;
    padding: 10px;
    max-width: 300px;
    min-width: 100px;
    min-height: 40px;
    margin: 8px;
    border-radius: 14px;
    align-self: start;
}

.current_user {
    align-self: end;
    background: #bebebe;
    border: 2px solid #a9a9a9;
}