#main_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px 50px;
    width: 600px;
    margin-bottom: 40px;
}

#home {
    float: right;
}

#user_data > p {
    margin-top: 22px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

#picture {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid #606060bb;
    border-radius: 50%;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    min-width: 120px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 14px;
    margin: 15px auto 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 16px sans-serif;
    display: block;
}

button:hover {
    background-color: #45a049;
}

#cancel_changes {
    background-color: #af4c4c;
    color: white;
}

#cancel_changes:hover {
    background-color: #a04545;
}

#delete_image {
    background-color: #424242;
    color: white;
    margin: 0;
}

#delete_image:hover {
    background-color: #5d5d5d;
}

#user_data_edit {
    display: none;
    margin: 20px auto 0;
}

#image_btn_wrapper {
    display: none;
    height: 75px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

input[type=file], select {
    font: 14px sans-serif;
    cursor: pointer;
}

#btns {
    margin: 20px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

#btns > button {
    width: 100%;
    margin: 0 15px;
}

#cancel_changes {
    margin: 0;
}

#save_changes {
    margin: 0;
}

.block {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: 16px sans-serif;
}

label {
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}

textarea {
    vertical-align: top;
    display: inline-block;
    font: 16px sans-serif;
    width: 100%;
    resize: vertical;
    max-height: 150px;
    min-height: 70px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#file_selector {
    display: inline;
}