#main_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 50px;
    width: 600px;
    margin-bottom: 80px;
}

#home {
    float: right;
}

#profile > p {
    margin: 20px 0;
}

span {
    font-weight: bold;
}

#picture {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid #606060bb;
    border-radius: 50%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}