#main_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 500px;
    margin-bottom: 80px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    margin: 0 3px 20px;
    color: #606060;
}

#p {
    margin: 0 3px 20px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 14px sans-serif;
}

button:hover {
    background-color: #45a049;
}

#join {
    background-color: #4cafa3;
}

#join:hover {
    background-color: #45a098;
}

#or {
    position: relative;
    width: 460px;
    text-align: center;
    font: 16px sans-serif;
    color: #aaa;
    margin: 20px 0;
}

#or::before,
#or::after {
    position: absolute;
    width: 200px;
    height: 1px;
    top: 8px;
    background-color: #aaa;

    content: '';
}

#or::before {
    left: 0;
}

#or::after {
    right: 0;
}