{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <form action="/register" method="POST">
        {{ form.csrf_token }}

        <div class="form-group">
            <input autocomplete="on" autofocus name="email" placeholder="e-mail" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="on" name="first_name" placeholder="First name" type="text">
        </div>

        <div class="form-group">
            <input name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input name="password_confirmation" placeholder="Password confirmation" type="password">
        </div>

        <button type="submit">Register</button>
    </form>
{% endblock %}
