{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block page %}
    <a href="{{ url_for('rooms.home') }}" class="nav_btn"><p>Home</p></a>
{% endblock %}

{% block content %}
    <div id="profile">
        <div id="picture">
            <img src="{{ profile_picture }}" alt="Profile picture">
        </div>

        <p><span>E-mail:</span> {{ current_user.email }}</p>
        <p><span>First name:</span> {{ current_user.first_name }}</p>
        <p><span>Last name:</span> {{ current_user.last_name }}</p>
        <p><span>Nickname:</span> {{ current_user.username }}</p>
        <p><span>Member since:</span> {{ current_user.member_since }}</p>
        <p><span>Bio:</span> {{ current_user.bio }}</p>
    </div>
{% endblock %}
